<section id="hero" data-bg="{{ post.thumbnail }}" class="cover">
    <div class="overlay table">
        <div class="cell text-center">
            <h1>
                {{ post.title }}
            </h1>
        </div>
    </div>
</section>