<div class="social">
	<a href="http://www.facebook.com/orourkehospitality"><i class="icon-facebook"></i></a>
	<a href="http://twitter.com/ORHospitality"><i class="icon-twitter"></i></a>
	<a href="http://www.linkedin.com/company/251341"><i class="icon-linkedin"></i></a>
</div>