<!doctype html>
<html {{ function('language_attributes') }}>

    {% include 'templates/partials/head.twig' %}

    <body {{ function('body_class') }}>

        {% include 'templates/partials/header.twig' %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% include 'templates/partials/footer.twig' %}

        {% include 'templates/partials/menu-overlay.twig' %}

        <div id="bug">
        	<a href="#" class="button primary">Contact Us</a>
        </div>

        <script type="text/javascript">
            var Site = {
              init: function() {
                Site.menu();
                Site.lightbox();
              },
              menu: function() {
                jQuery(document).on('click', '.menu-toggle', function(event) {
                  event.preventDefault();
                  jQuery('#menu-overlay').toggleClass('active');
                });
              },
              lightbox: function() {
                jQuery('.lightbox-parent').Chocolat({
                  imageSelector: '.lightbox-image',
                  loop: true,
                  enableZoom: false
                });
              }
            }

            jQuery(document).ready(function(){
              Site.init();
            });
        </script>

    </body>

</html>