<form class="newsletter" action="">
	<h6>Sign up for our newsletter</h6>
	<div class="input-group">
		<input type="email" class="input-group-field" placeholder="your@email.address">
		<div class="input-group-button">
			<input type="submit" class="button " value="Subscribe">
		</div>
	</div>
</form>