{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        <section id="hero" class=" bg-gray">
        	<div class="row column text-center">
	            <h1>{{ post.title }}</h1>

        	</div>
        </section>

        <section>
        	<div class="row column">
		        {{ post.content }}
        	</div>
        </section>

    {% endfor %}

{% endblock %}