{% extends "templates/base.twig" %}

{% block content %}
    {% for post in posts %}

        {% include 'templates/partials/hero.twig' %}

        <section class="padding">
        	<div class="row">
                <div class="column medium-10 medium-centered large-8">
    		        {{ post.content }}
                </div>
        	</div>
        </section>

    {% endfor %}
{% endblock %}