{% extends "templates/base.twig" %}

{% block content %}
    {% for post in posts %}

        {% include 'templates/hero.twig' %}

        <section>
            <div class="row expanded small-up-1 medium-up-3 grid">
                {% for item in services %}
                    <div class="column text-center">
                    <a href="{{ item.link }}">
                        <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.5em;">
                            <div class="table">
                                <div class="cell overlay">
                                    <div class="padding">
                                        <h4>
                                            {{ item }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock %}