{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        {% include 'templates/partials/hero.twig' %}

        <div class="row" id="content">
            <div class="column medium-10 medium-centered">
                <div class="padding">
                    {{ post.content }}

                    <a href="#" onclick="history.back()" class="button hollow" style="margin-top: 2em;">
                        <i class="icon-arrow-left"></i> Go Back
                    </a>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}